<template>
  <section class="section">
    <div class="container">

      <div class="search">
        <input class="input" type="number" v-model="studentId" placeholder="Buscar...">
        <a class="button is-success is-large" @click="search">Buscar</a>
      </div>

      <div class="result">
        <p><small>{{ resultSearch }}</small></p>
      </div>

      <div v-if="grades[0]">
        <table class="table">
          <thead class="table-head">
          <tr>
            <th>Curso</th>
            <th>Ciclo</th>
            <th>Nota</th>
          </tr>
          </thead>
          <tbody class="table-body">
          <tr v-for="grade in grades" :key="grade.curso_id">
            <td>{{ grade.nombre }}</td>
            <td>{{ grade.nivel }}</td>
            <td>{{ grade.pivot.valor }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        grades: [],

        resultSearch: '',

        studentId: '',
        nameStudent: '',
      }
    },
    methods: {
      search() {
        let self = this

        let studentId = this.studentId

        self.cleanSearch()

        fetch('http://192.168.1.11:8000/api/curso/nota/' + studentId)
          .then(response => {
            return response.json()
          })
          .then(data => {
            if (data.state === 'error') {
              self.resultSearch = data.message
            } else {
              self.nameStudent = data.name_student
              self.grades = data.grades

              self.resultSearch = `Se encontro al estudiante: ${self.nameStudent}`
            }
          })
      },
      cleanSearch() {
        this.resultSearch = ''
        this.grades = []
      }
    }
  }
</script>

<style lang="scss" scoped>
  .input {
    width: 90%;
  }

  .container div {
    margin-top: 30px;
  }
</style>
