<template>
  <div id="app">
    <header class="header">
      <div class="container">
        <figure class="logo">
          <img src="@/assets/logo.png" alt="Logo de vue.js"/>
        </figure>
        <nav class="menu">
          <ul>
            <li>
              <router-link to="/">Notas</router-link>
            </li>
            <li>
              <router-link to="/cusos">Cursos</router-link>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <router-view></router-view>

    <footer class="footer">
      <div class="container">
        <p>Create by Formando Codigo © 2015 - 2018</p>
      </div>
    </footer>
  </div>
</template>

<script>
  export default {
    name: 'app'
  }
</script>

<style lang="scss">
  @import "./scss/minreset.css";
  @import "./scss/main.css";
</style>
