body {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background-color: #1FADED;
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  height: inherit;
}
.menu ul {
  display: inline-flex;
  height: inherit;
}

.header ul {
  display: flex;
  height: inherit;
}
.header ul li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.header a {
  color: white;
  font-family: 'Arial', sans-serif;
}

.header .logo img {
  height: 50px;
}

.section {
  margin: 20px 0;
}

.input, .button {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1.2rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

.input {
  border: 1px solid #2CB1EC;
}

.input:focus, .input:active {
  border-color: #2CB1EC;
  box-shadow: 0 0 0 0.125em rgba(44, 177, 236, 0.25);
}

.input[disabled] {
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
}

.button.is-success {
  background-color: #40E170;
  border-color: transparent;
  color: white;
}

.button.is-danger {
  background-color: #E63856;
  border-color: transparent;
  color: #fff;
}

.button.is-success:hover {
  background-color: #0FA83D;
  border-color: transparent;
  color: #fff;
}

.button.is-danger {
  background-color: #BA112E;
  border-color: transparent;
  color: #fff;
}

.result p {
  font-size: 24px;
  color: #86878B;
}

.footer {
  margin-top: 40px;
  color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  position: relative;
  color: #171819;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table-head th {
  padding: 16px 8px;
}

.table-body td {
  padding: 12px 5px;
}

.table-head {
  width: 100%;
}

.table-body {
  max-height: 585px;
}

.table th {
  color: white;
  background-color: #20539F;
}

.table th,
.table td {
  line-height: 1.4;
  padding-right: 20px;
  max-width: 600px;
}

.container {
  width: 80vw;
  display: inherit;
  margin: 0 auto;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
}
